* {
  font-family: "Lucida Console", Monaco, monospace;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

li {
  list-style: none;
}

.beer_details {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.5em;
  width: 20em;
  padding: 20px;
  margin: 10px;
  border: 1px dotted black;
  border-radius: 5px;
}

.ingredients {
  font-size: 1em;

}

.malts {
  font-size: 0.8em;
}

#beers-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
};

.
